<div id="index-div">
  <div id="index-img-div">
    <img id="index-img" src='/images/beer.png' alt='logo beer' />
  </div>
  {{!-- <div id="links-container"> --}}
    <a class="index-btn" href='/beers'>Check the Beers!</a>
    <a class="index-btn" href='/random-beer'>Check a Random Beer</a>
  {{!-- </div> --}}
</div>