<div class="container-father-one-beer">
  <div  class="one-beer-container">
    {{>beerpartial getRandomBeer}} 
  </div>

  <div class="extra-text">
    <ul>
    {{#each getRandomBeer.food_pairing}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <p>{{getRandomBeer.brewers_tips}}</p>
  </div>

</div>